/*
Name: Anna Ringel
Date: 10/02/2024
File Name: styles.css
*/
 
/* CSS Reset */
body, header, nav, main, footer, img, h1, div, img {
    margin:0;
    padding: 0;
    border: 0;
}

/* Style rules for images */

img {
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    border-radius:20%;
    display: block;
}

/* Style rules for mobile viewport */

/* Style rules for header content */

header {
    text-align: center;
    font-size: 1.2em;
    font-family:"Quicksand", sans-serif;
    color:#ffffff;
    background-color: #d3d3d3;
    position: -webkit-sticky;
    position: sticky;
}

header img {
    margin: 0 auto;
}

header h1 {
    font-style: italic;
}

/*Style rules for navigation area */

nav {
    background-color: #add8e6;
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
    border-top: 1px solid #fff
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #ffffff;
    padding: 1em 2em;
    text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/*Style rules for main content */

main {
    padding: 2%;
    background-color:#ffffff;
    overflow: auto;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
}

main p { 
    font-size: 1.2em;
}

.action {
    font-size: 2.20em;
    color:ffffff;
    font-weight: bold;
}

#info {
    clear:left;
    background-color: #000000;
    padding: 2% 3%;
}

#contact {
    text-align: center;
}

#contact a {
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
}

.map {
    border: 7px solid #000000;
    width: 50%;
    height: 50%;
}

.round {
    border-radius: 5%;
}

/* Style rules for footer content */

footer {
    text-align: left;
    font-size: 1.20em;
    clear: center;
}

footer a {
    color:#808080;
    text-decoration: none;
}

